body{
    background-color: black;
    color: white;
}

img{
    display: block;
    margin: auto;
}

nav{
    margin: auto;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    float: left;
    text-align: center;
}

nav a{
    margin: auto;
    display: block;
    padding: 8px;
    background-color: #3e4444;
    color: white;
    text-decoration: none;
}

#cz{
    margin-right: 0.5%;
}

.lang{
    float: right;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
}

h3{
    color: black;
    background-color: red;
}

.active{
    background-color: red;
    color: black;
}

footer{
    position: fixed;
    bottom: 0;
}