#logo{
    margin-left: 28.5%;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 45.5%;
}

li{
    float: left;
    text-align: center;
}

.nav{
    display: block;
    padding: 8px;
    background-color: #3e4444;
    color: white;
    text-decoration: none;
}

#cz{
    margin-right: 0.5%;
}

.lang{
    float: right;
}

body{
    background-color: black;
    color: white;
}

h1{
    width: 100%;
    text-align: center;
}